<h4>Your order is completed!</h4>
<h3>Let us assume everything:</h3>
<div>
	<% @order.order_products.each do |order_product| %>
		<%= order_product.product.name %>
		<%= order_product.quantity %>
		<%= order_product.price %>
	<% end %>
</div>

<h4>Your address</h4>
<div>
	<%= @order.user.building_nr %><%= @order.user.street %>
	<%= @order.user.post_code %><%= @order.user.city %>
</div>

<%= link_to "Keep shopping", new_session_path %>
