<% if @order_products.count == 0 %>
  <div id="empty-cart">
    <i class="fa fa-shopping-cart fa-5x" aria-hidden="true"></i> 
    <p>Your shopping cart is empty <i class="fa fa-frown-o" aria-hidden="true"></i></p>
  </div>
<% else %>
  <div class="cart-products">
    <table class="col-1-1 simple-table">
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Total price</th>
      </tr>
      <% @order_products.each do |order_product| %>
        <tr>
          <td>
            <b><%= order_product.product.name %></b><br/>
            <%= number_to_currency order_product.product.price %>
          </td>
          <td>
            <%= form_for order_product, remote: true do |f| %>
              <%= f.number_field :quantity, value: order_product.quantity.to_i, min: 1, class: "quantity-input" %>
              <%= f.hidden_field :product_id, value: order_product.product.id %><br/>
              <%= f.submit "Update", class: "link-button" %>
              <%= link_to "Delete", order_product, { data: { confirm: "Are you sure you wish to delete the product '#{order_product.product.name}' from your cart?" }, method: :delete, remote: true, class: "link-button" } %>
            <% end %>
          </td>
          <td>
            <%= number_to_currency order_product.price %>
          </td>
        </tr>
      <% end %>
    </table>
    <div class="col-1-1">
      <%= render 'orders/form' %>
    </div>
  </div>
<% end %>
